<!-- MAIN VIEW -->
<form id="main">
  <style>
    form#main header { background: transparent url(img/database.png) no-repeat left top; padding-left: 60px; }
    form#main input[name=name] { font-size: 125%; font-weight: bold; width: 100%; }
    form#main li.list-group-item[data-action] { cursor: pointer;}
    form#main li.list-group-item[data-action]:hover { background-color: #dee7ef;}
    form#main .sql-editor { height: 200px; margin-bottom: 20px; font-weight: bold; font-family: "Courier New", courier, monospace; }
  </style>
  <header>
    <input type="text" name="name" value="{{name}}" class="form-control">
    <small>version {{version}}</small>
  </header>
  <h2>Tables</h2>
  <ul class="list-group">
    {{#each tables}}
    <li class="list-group-item" data-action="viewTable">{{.}}</li>
    {{else}}
    <li class="list-group-item">No tables</li>
  {{/each}}
  </ul>
  <div class="btn-group btn-group-justified">
    <a class="btn btn-default" href="javascript:;" data-action="addTable">Add Table</a>
    <a class="btn btn-default" href="javascript:;" data-action="generateDump">Generate Dump</a>
  </div>

  <h2>Sys Tables</h2>
  <ul class="list-group">
    <li class="list-group-item"><a href="javascript:;" data-action="viewTable">sqlite_master</a></li>
    <li class="list-group-item"><a href="javascript:;" data-action="viewTable">sqlite_temp_master</a></li>
  </ul>
  <h2>SQL Query</h2>
  <textarea class="sql-editor form-control"></textarea>
  <div class="btn-group btn-group-justified">
      <a class="btn btn-default" href="javascript:;" data-action="executeSql" class="button">Execute</a>
  </div>
</form>

<script>
window.app = window.app || {};
window.app.views = window.app.views || {};
window.app.views.main = window.views.Base.extend({
  el: $('#main'),
  initialize: function (model) {
    console.log('views.main.initialize()');
    this.model = model;
    this.template = Handlebars.compile(this.el.innerHTML);
    this.model.on('change', this.actions.changeDatabase(this));
    this.render();
  },
  events: {
    "click [data-action]": "do",
    "change input": "change",
    "change select": "change"
  },
  refresh: function() {
    this.model.refresh(this.render.bind(this));
  },
  actions: {
    addTable: function() {
      console.log('views.main.addTable()');
      app.router.navigate('table/new', {trigger: true});
    },
    viewTable: function(target) {
      console.log('views.main.viewTable()');
      var name = target.innerText;
      if (name) {
        app.router.navigate('table/' + name, {trigger: true});
      }
    },
    changeDatabase: function(name) {
      console.log('views.main.changeDatabase()');
      if (name) {
        app.router.navigate('database/' + name, {trigger: true});
      }
    },
    generateDump: function() {
      console.log('views.main.generateDump()');
    },
    executeSql: function() {
      console.log('views.main.executeSql()');
    }
  }
});
</script>
